# Python and SQL

Here we will try a couple of ways to query a database with Python.  We will start with the built-in option in python - `sqlite3`. You should always have this available and it is lightweight.

In [1]:
import sqlite3 as lite

In [2]:
con = lite.connect('MLD2025.db')

We now have a connection to the database. We can launch queries through this to search the database. Here is an example:

In [9]:
with con:
    # Get a cursor.
    cur = con.cursor()

    query = "select s.star, o.Date from stars as s JOIN observations as o ON s.fieldID=o.ID" 
    # Execute commands
    rows = cur.execute(query)

The `rows` variable now contains a cursor object which points to the results table. To get values out from it we need to loop over it.

In [10]:
for row in rows:
    this_star, this_date = row
    print("Star = {0} was observed  at {1}".format(this_star, this_date))

Star = S1 was observed  at 92.9885764
Star = S2 was observed  at 92.9885764
Star = S5 was observed  at 93.5532134
Star = S7 was observed  at 97.3323764

**Try:** run the cell above again. What happened? Why?

### Task:

Now try to use the preceding to answer this question:

- Where is the FITS image stored for star S5?

# Python and SQL - the Pandas way

The approach above using `sqlite3` will always work regardless of the python installation but it is a bit clunky so you might wonder whether a better way exists, and in a number of contexts the answer is yes. 

This easier way is provided by `pandas` a fairly heavy but powerful way to interact with tabular data of various types. It is widely used in both academia and industry and hence is a useful tool to know. However this might not be the best approach if your database is very large - caveat emptor.

In [11]:
import pandas as pd

In [13]:
con = lite.connect("MLD2025.db")

In [14]:
t = pd.read_sql_query('Select ra, decl from Stars', con)

In [15]:
t

           ra       decl
0  198.847500  10.503472
1  198.565417  11.023194
2  198.937083   9.916889
3  199.251667  10.348694

### Task: 

Now use the pandas approach to answer this question:

- Give me a list of all stars observed with the same FieldID

In [22]:
for fieldID in (1, 2, 3):
    query = 'Select * from Stars where FieldID={0}'.format(fieldID)
    t = pd.read_sql_query(query, con)
    print("\nFor Field ID = {0} we have the following stars: ".format(fieldID))
    print(t)

For Field ID = 1 we have the following stars:
   StarID  FieldID Star          ra       decl     g     r
0       1        1   S1  198.847500  10.503472  14.5  15.2
1       2        1   S2  198.565417  11.023194  15.3  15.4

For Field ID = 2 we have the following stars:
   StarID  FieldID Star          ra       decl     g     r
0       4        2   S7  199.251667  10.348694  14.6  14.1

For Field ID = 3 we have the following stars:
   StarID  FieldID Star          ra      decl     g     r
0       3        3   S5  198.937083  9.916889  16.4  15.8